<% layout('/layouts/boilerplate') -%>


    <div class="container">
        <div class="col-6 offset-3">
            <%- include('../partials/flash') %>
        </div>
    <h1>Login</h1>

    <form action="/login" method="POST">
        <div>
            <label for="username">Username</label>
            <input type="text"  class="form-control" name="username" id="username" placeholder="username">
        </div>
        <br>
      
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control"  name="password" id="password" placeholder="password">
        </div>
<br>
        <button class="btn btn-success">Login</button>
    </form>

</div>
   