:root{
    --main-color : white;
    --text-color : black;
    --task-bg : gainsboro;
    --task-color : white
}

body{
    background-color:var(--main-color);
    color:var(--text-color);

}

.bg_color{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.UserName{
    color:var(--text-color);
}

.quote{
    color:var(--text-color);

}
.oneTask{
    background-color: var(--task-bg);
    color: var(--task-color);
}

.boilerBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


